@import "/src/styles.scss";

h1,
h2,
.h3,
hr,
section {
  width: 100%;
}
h1 {
  font-size: xx-large;
}
h2 {
  font-size: larger;
}
.h3 {
  font-size: x-large;
  color: $blue;
  font-weight: 600;
  margin-bottom: 25px;
  text-align: center;
}

hr {
  border-radius: 5px;
  border: 2px solid $light-gray;
  margin: 25px 0;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px 60px;
}
