@import "/src/styles";

footer {
  box-shadow: $shadow-upper;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  strong,
  p {
    margin-left: 50px;
  }
  $margin: 10px;
  strong {
    margin-top: $margin;
  }
  p {
    margin-bottom: $margin;
  }
}
