<div class="container">
  <form action="" class="form">
    <div class="logo">{{ "access.title" | translate }}</div>
    <input
      type="email"
      name="email"
      id="email"
      required
      #email
      class="input"
      placeholder="{{ 'access.email' | translate }}"
    />
    <input
      type="password"
      name="password"
      id="password"
      required
      #password
      class="input"
      placeholder="{{ 'access.password' | translate }}"
    />

    <button
      type="submit"
      class="flex btn submit"
      (click)="login(email.value, password.value)"
    >
      <svg width="16" height="16" viewBox="0 0 16 16">
        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
        <path
          fill-rule="evenodd"
          d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"
        />
      </svg>
      {{ "access.login" | translate }}
    </button>
    <p class="forgotten">
      {{ "access.f-pass1" | translate }}
      <br />
      <a href="#">{{ "access.f-pass2" | translate }}</a>
    </p>
  </form>
  <p *ngIf="error != ''">{{ error | translate }}</p>
</div>
