/* Red */
$light-red: #fa6f6b;
$red: #f7403a;
$red: #c72d28;

/* Yellow */
$light-yellow: #f8c449;
$yellow: #ffb612;
$dark-yellow: #d69e1a;

/* Blue */
$light-blue: #2d71d8;
$blue: #0046ad;
$dark-blue: #063479;

/* From White to Black */
$white: #fcfcfc;
$light-gray: #d0d1d1;
$gray: #8f8f8f;
$dark-gray: #555555;
$black: #181818;

/* Gradients */

/* Shadows */
