@import "./shadows";
@mixin button($color, $letter-color, $length: 150px, $height: 25px) {
  background: $color;
  color: $letter-color;
  font-weight: 600;
  svg path {
    fill: $letter-color;
    transition: $transition;
  }
  width: $length;
  height: $height;
  border-radius: 10px;
  border: 3px solid $color;
  transition: $transition;
  box-shadow: 0 6px 8px rgba($black, 0.075), 6px 6px 6px rgba($white, 0.781);
  cursor: pointer;

  &:hover {
    background-color: rgba($color, 0.7);
    box-shadow: $shadow-bottomer;
  }

  &:active {
    background-color: rgba($color, 0.9);
    box-shadow: $shadow-bottomless;
  }
}

@mixin outlinedButton($color, $letter-color, $length: 150px, $height: 25px) {
  background-color: rgba($color, 0.25);
  color: $color;

  &:hover {
    background-color: rgba($color, 0.15);
  }

  &:active {
    background-color: rgba($color, 0.05);
  }
}
