$positive: 6px;
$negative: -6px;
$blur: 8px;

$shadow-up: 0px $negative $blur rgba($black, 0.5) 6px 6px 6px
  rgba($white, 0.781);
$shadow-left: $negative 0px $blur rgba($black, 0.5) 6px 6px 6px
  rgba($white, 0.781);
$shadow-right: $positive 0px $blur rgba($black, 0.5) 6px 6px 6px
  rgba($white, 0.781);
$shadow-bottom: 0px $positive $blur rgba($black, 0.5) 6px 6px 6px
  rgba($white, 0.781);

$positive-plus: 8px;
$n-plus: -8px;
$shadow-upper: 0px $n-plus $blur rgba($black, 0.075),
  8px 8px 8px rgba($white, 0.781);
$shadow-lefter: $n-plus 0px $blur rgba($black, 0.075),
  8px 8px 8px rgba($white, 0.781);
$shadow-righter: $positive-plus 0px $blur rgba($black, 0.075),
  8px 8px 8px rgba($white, 0.781);
$shadow-bottomer: 0px $positive-plus $blur rgba($black, 0.075),
  8px 8px 8px rgba($white, 0.781);

$p-minus: 2px;
$negative-minus: -2px;
$shadow-upless: 0px $negative-minus $blur rgba($black, 0.5) 2px 2px 2px
  rgba($white, 0.781);
$shadow-leftless: $negative-minus 0px $blur rgba($black, 0.5) 2px 2px 2px
  rgba($white, 0.781);
$shadow-rightless: $p-minus 0px $blur rgba($black, 0.5) 2px 2px 2px
  rgba($white, 0.781);
$shadow-bottomless: 0px $p-minus $blur rgba($black, 0.5) 2px 2px 2px
  rgba($white, 0.781);
